# Data Science Tools and Ecosystem

This notebook summarizes Data Science Tools and the Ecosystem.

Commonly used programming languages used by Data Scientists are:

1. R
2. Python
3. SQL
4. Scala
5. JavaScript
6. Julia

Popular Libraries used in Data Science are:
    
    1. matplotlib
    2. TensorFlow
    3. NumPy

| Data Science Tools |
|----|
|Jupyter Notebooks|
|R Studio|
|GitHub|

### Below we showcase examples of evaluating arithmetic expressions in python.

In [11]:
# This is a simple order of operations expression. 
(3*4)+5

17

In [20]:
# This expression converts 200 minutes to hours.

200/60

3.3333333333333335

**Objectives**
* Familiarize yourself with markdown cells in Jupyter notebooks. 
* Learn to evaluate simple arithmetic expressions using code cells.
* Create a public repository on GitHub for further projects.

## Author
Ryan Kamiya